<section id="lokasi" class="contact-section">
  <div class="contact-header">
    <h2>
      HUBUNGI <span>KAMI</span>
    </h2>
    <div class="contact-divider"></div>
  </div>

  <div class="info-grid">
    <div class="info-card">
      <h4>Main Office</h4>
      <p>
        Rukan Graha Kencana Blok A<br>
        Jl Perjuangan No.88<br>
        Kebon Jeruk Jakarta Barat<br>
        DKI Jakarta 11530
      </p>
    </div>

    <div class="info-card">
      <h4>Warehouse</h4>
      <p>
        Jl Raya Bekasi KM.23<br>
        Cakung Barat RT005/04 No.20<br>
        Jakarta Timur 13910<br>
        (Jl Pabrik Kulit Cakung)
      </p>
    </div>

    <div class="info-card">
      <h4>Contact</h4>

      <p>
        <b>Email:</b>
        <a href="mailto:admin@hanifpersada.com">
          admin@hanifpersada.com
        </a>
      </p>

      <p>
        <b>WA 1:</b>
        <a
                href="https://wa.me/628111990084?text=Halo%20PT.%20Hanif%20Persada%20Putra,%20saya%20ingin%20menanyakan%20produk%20sparepart."
                target="_blank">
          <i class="fab fa-whatsapp"></i>
          0811-9900-84
        </a>
      </p>

      <p>
        <b>WA 2:</b>
        <a
                href="https://wa.me/628111103268?text=Halo%20PT.%20Hanif%20Persada%20Putra,%20saya%20ingin%20menanyakan%20produk%20sparepart."
                target="_blank">
          <i class="fab fa-whatsapp"></i>
          0811-1103-268
        </a>
      </p>
    </div>
  </div>
</section>


<footer class="site-footer">
  <h3>PT. HANIF PERSADA PUTRA</h3>
  <p>
    Solusi Suku Cadang Industri & Logistik Terpercaya
  </p>
  <div class="footer-copy">
    © 2026 PT. Hanif Persada Putra
  </div>
</footer>